{% extends 'base.html' %}
{% block content %}
<h2>Counting Bugs</h2>
<p>
    I'm counting down from 10. But something went wrong here...?
</p>
<script>
    function checkCount(){
        /*
        Don't Change this method
        thow an error if count is not 10
        */
        if(count>10 || count<0){
            // error
            Sentry.configureScope((scope) => {
                scope.setExtra("count", count);
                Sentry.captureException(new Error('Count is not right!'));
            });

            document.getElementById("result").innerHTML += `<br />ERROR!     `;
        }
    }
    function showCount(){
      document.getElementById("result").innerHTML += `${count}<br />`;
    }

    function main(){
        countDown();
        checkCount();
        showCount();
    }
</script>
<p id="result"></p>
<form>
    <input class="btn btn-primary btn-lg" id="runButton" type="button" value="Click to Count Down!" onclick="main();" />
</form>
{% endblock %}
