{% extends 'base.html' %}
{% block content %}
<h2>Counting Bugs</h2>
<p>
    I'm counting down from 10. But something went wrong here...?
</p>
<script>
    function main(){
        countDown();
        checkCount(count, "Count is not Right!", "countDownResult");
        drawCountDownStars(count, "countDownResult");
    }
</script>
<p id="countDownResult"></p>
<form>
    <input class="btn btn-primary btn-lg" id="runButton" type="button" value="Click to Count Down!" onclick="main();" />
</form>
{% endblock %}
