{% extends "base.html" %}
{% block content %}
<script>
     function showHello(message){
        document.getElementById("hello").innerHTML = message;
    }
    function main(){
        var name = document.getElementById("name").value;
        try{
            sayHello(name);
        }
        catch(error)
        {
            checkSayHello(error);
            return;
        }
        checkSayHello(null);
    }
    function checkSayHello(error){
        var message = document.getElementById("hello").innerHTML;
        if(error || !message){
            message = `ERROR!`;
            Sentry.captureException(error || new Error("sayHello message is undefined."));
            showHello(message);
        }
    }  
</script>
<div class="contents row align-items-center">
    <div class="col align-items-center">
        <h2>Say Hello</h2>
        <p>
            The box should say hello whether you put a name in there or not.
            Can you figure out why it doesn"t work without a name?
        </p>
    </div>
    <div class="col">
        <p id="hello"></p>
        <input type="text" id="name" placeholder="My Name!"><br />
        <input class="btn btn-primary btn-lg" id="helloButton" type="button" value="Click Me I'm Friendly!" onclick="main();" />
    </div>
</div>
{% endblock %}
